<!DOCTYPE html>

<html>
    <head>
        <title>Book Reviewer</title>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}" media-"screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div id="wrapper">
            <div class="header">
                <div class="text-left">
                    <p class="text-big">Book Reviewer</p>
                </div>
                {% if request.session.logged_in == True %}
                <div class="text-right">
                    <a class="button-1" href="{% url 'add_review' %}">Add Book Review</a>
                    <p class="text-normal">Logged in as {{ main_user.first_name}} {{ main_user.last_name }} | </p>
                    <a class="button-1" href="{% url 'logout' %}">Logout</a>
                </div>
                {% endif %}
                {% if request.session.logged_in == False %}
                <div class="text-right">
                    <a class="button-1" href="{% url 'login' %}">Sign In</a>
                </div>
                {% endif %}
            </div>
            <div style="height: 50px">
            </div>
            <div style="text-align: center">
                <div class='recent-books-box'>
                    <p class="text-medium">Check out the most recent reviews</p><br>
                    <hr>
                    {% for review in recent_list %}
                        <a class="text-big" href="{% url 'show_book' id=review.book.id %}">{{ review.book.title }}</a><br>
                        {% if review.rating == 1 %}
                        <p class="text-medium">Rating: &#x2605;&#x2606;&#x2606;&#x2606;&#x2606;</p>
                        {% endif %}
                        {% if review.rating == 2 %}
                        <p class="text-medium">Rating: &#x2605;&#x2605;&#x2606;&#x2606;&#x2606;</p>
                        {% endif %}
                        {% if review.rating == 3 %}
                        <p class="text-medium">Rating: &#x2605;&#x2605;&#x2605;&#x2606;&#x2606;</p>
                        {% endif %}
                        {% if review.rating == 4 %}
                        <p class="text-medium">Rating: &#x2605;&#x2605;&#x2605;&#x2605;&#x2606;</p>
                        {% endif %}
                        {% if review.rating == 5 %}
                        <p class="text-medium">Rating: &#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</p>
                        {% endif %}
                        <p class="text-normal">{{ review.content }}</p>
                        <hr>
                    {% endfor %}
                </div>
                <div class='all-books-box'>
                    <p class="text-medium">Explore all books and reviews</p>
                    <hr>
                    {% for book in book_list %}
                        <a class="text-medium" href="{% url 'show_book' id=book.id %}">{{ book.title }}</a><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>