/* Reset Values */
/** {
    padding: 0;
    margin: 0;
    border: 0;
}
*/
#container {
    background-color: rgb(0, 51, 102);
    width: 970px;
    margin: auto;
    padding: 10px;
}

#header {
    background-color: rgb(255, 80, 80);
    width: 970px;
    height:64px;
    display: block;
    color: white;
    border-radius: 10px;
}

#header h1{
    margin-top:5px;
    padding: 10px;
}

#sideBar {
    background-color: rgb(0, 153,153);
    width: 200px;
    height: 200px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: -365px;
    font-size: 14px;
    color: white;
}

#sideBar a:link {
    color: rgb(102, 255, 255)
}

#content {
    background-color: rgb(10, 10, 48);
    width: 710px;
    height:580px;
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: 10px;
    left: 10px;
    margin-bottom: 10px;
}

#content a:link {
    color: rgb(102, 255, 255)
}

#content code {
    color: rgb(102, 102, 255);
}

#footer {
    background-color: grey;
    width: 970px;
    height:48px;
    display: block;
    color: white;
    border-radius: 10px;
}

#footer p {
    padding-top: 16px;
    padding-left: 10px;
}
