<!DOCTYPE html>

<html>
    <head>
        <title>The Wall</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script src= "{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="wall-header">
                <table id="wall-header-table">
                    <tr>
                        <th id="wall-title">Coding Dojo Wall</th>
                        <th id="wall-session">              
                            <form  action='/logoff', method='get'>
                                <label>Welcome {{ session['username'] }}!</label><input class="button-1" type='submit' value='Log Off' class="button">
                            </form>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="post-message">
                <h3>Post a message</h3>
                <form action="/submit" method='post'>
                    <textarea name="message" rows="5" placeholder=""></textarea>
                    <input type="hidden" name="submit-type" value="message">
                    <input id="post-message-button" class="button-1" type='submit' value='Submit' class="button">
                </form>
            </div>
            <div id="wall">    
                {% for message in wall_messages: %}
                    <div class="message-box">
                        <div class="tooltip">
                            <button type="button" class="content-toggle button-1" value="Hide">Hide</button>
                            <span class="tooltiptext">Click to hide or show comments</span>
                        </div>
                        <h3>{{message['poster']}} {{message['post_date']}}</h3>
                        {% if session['username'] == message['poster'] %}
                            <form action="/delete" method='post'>
                                <input type="hidden" name="submit-type" value="message">
                                <input type="hidden" name="message-id" value="{{ message['message_id'] }}">
                                <input id="post-message-button" class="button-1" type='submit' value='Delete' class="button">
                            </form>
                        {% endif%}
                        <div class="content-box">
                            <p>{{message['message']}}</p>
                        
                            {% for comment in wall_comments: %}
                                {% if comment['message_id'] == message['message_id'] %}
                                <div class="comment-box">
                                    <h3>{{comment['commenter']}} {{comment['post_date']}}</h3>
                                    <p>{{comment['comment']}}</p>
                                </div>
                                {% endif %}
                            {% endfor %}
                                
                            <div class="post-comment">
                                <h3>Post a comment</h3>
                                <form action="/submit" method='post'>
                                    <textarea name="comment" rows="5" placeholder=""></textarea>
                                    <input type="hidden" name="submit-type" value="comment">
                                    <input type="hidden" name="message-id" value="{{ message['message_id'] }}">
                                    <input id="post-message-button" class="button-1" type='submit' value='Submit' class="button">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>