<div class="center">
  <div class="search-box">
    <input [(ngModel)]="searchText" placeholder="search descriptions" class="search-bar">
  </div>
  <div *ngFor='let post of listings | filter : searchText' class="box">
    <div class="image-box">
      Image: {{ post.image }}
    </div>
    <div class="info-box">
      <h2>{{ post.title }}</h2>
      <span>{{ post.description }}</span>
    </div>
    <div class="action-box">
      <h2>${{ post.price }}</h2>
      <span>{{ post.location }}</span>
      <button *ngIf='post.user_id == dataService.current_user.user_id' (click)="dataService.delete_listing(post.id)">Delete</button>
      <button *ngIf='post.user_id != dataService.current_user.user_id' (click)="getContact(post.id)">Contact</button>
    </div>
  </div>
</div>
