<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="wrapper">
            <h1>Counter</h1>
            <h4>This page has been visisted <%= counter.count %></h4>
            <a class="button-link" href="/one">+1</a>
            <a class="button-link" href="/two">+2</a>
            <a class="button-link" href="/reset">Reset</a>
        </div>
    </body>
</html>