<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Date Picker</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>   <!-- jQuery -->
        <script src= 'script.js'></script>                                                          <!-- javscript -->
        <link rel="stylesheet" href="style.css">
        <link rel='shortcut icon' type='image/x-icon' href='icon.ico' />  

    </head>
    <body>
        <div id="wrapper">
            <div style="height: 100px"></div>
            <div class="input-box">
                <label class="label-item">Date:</label>
                <input class="input-item date-picker-1" type='text' name='date' placeholder="mm/dd/yyyy">
            </div>
            <div>
                <table class="calender-table">
                    <tr>
                        <th colspan="7">Month</th>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>T</td>
                        <td>W</td>
                        <td>T</td>
                        <td>F</td>
                        <td>S</td>
                        <td>S</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
