<html>
    <head>
        <title>Login and Registration</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <% if(typeof(errors) != 'undefined' ) { %>
                <% for (var x in errors) { %>
                 <h3><%= errors[x].message %></h3>
                <% } %>
            <% } %>
        </div>
    </body>
</html>