<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="15">
        <title>Time Display</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'time_display/css/style.css' %}" media-"screen" title="no title" charset="utf-8">
        <link rel='shortcut icon' type='image/x-icon' href="{% static 'time_display/icon.ico' %}" />  
    </head>
    <body>
        <div id="wrapper">
            <div id="title-box">
                <h3>The current time and date:</h3>
            </div>
            <div class="tooltip">
                <div id="time-box">
                    <h2>{{ time }}</h2>
                </div>
                <span class="tooltiptext">Time refreshes every 15 seconds</span>
            </div>
        </div>
    </body>
</html>