<!DOCTYPE html>

<html>
    <head>
        <title>Quotes</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <h1>Quotes from {{ book_name[0]['title'] }}</h1>

            {% for quote in quotes: %}
            <p>{{ quote['quote'] }}</p>
            {% endfor %}

            <form action='/', method='get'>
                <input class="button-1" type='submit' value='Home' class="button">
            </form>
        </div>
    </body>
</html>