* {
    /*outline: 1px solid magenta;*/
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#wrapper {
    width: 972px;
    margin: 0px auto;
}

#header {
    
}
    #header h1 {
        margin: 20px 0px;
        text-align: center;
    }

    #header h2 {
        margin: 20px 0px;
        text-align: center;
        font-style: oblique;
    }


#pokedex {
    display: inline-block;
    padding: 5px;
    width: 695px;
}

    .tile {
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        width: 100px;
        height: 100px;
        background-color: skyblue;
        border-radius: 5px;
        border: 1px solid black;
    }

    .tilePic{
        border-radius: 5px;
        width: 100px;
        height: 100px;
    }

#cardBox {
    position: fixed;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    width: 220px;
    background-color:skyblue;
    border-radius: 5px;
    border: 1px solid black;
}

    .cardTitle {
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        opacity: 0.5;
    }

    .statBox {
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        opacity: 0.5;
    }

    #cardBox h3 {
        text-align: center;
    }

    #cardBox h5 {
        opacity: 1;
        margin: 5px 10px;
    }

    #cardBox .stat {
        margin: 0px 0px 0px 25px;
    }

    .cardInfoTile {
        display: inline-block;
        width: 220px;
        
    }