<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Navigation Bars</title>
        <meta charset="UTF-8">
        <meta name="description" content="This page creates several styles of navigation 
        bars and buttons.">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="wrapper">
            <h1>Navigation Bars</h1>
            <div id="vert-navbar-area">
                <h2>Vertical Navigation Bar</h2>
                <ul class="vert-navbar-basic">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#info">Info</a></li>
                </ul>
            </div>
        </div>

    </body>
</html>