#container {
    background-color: darkkhaki;
    width: 1008px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

#header {
    text-align: center;
    width: 1008px;
    display: inline-block;
}

#box1 {
    background-color: lightskyblue;
    border-style: solid;
    border-width: 4px;
    width: 160px;
    height: 160px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

#box2{
    background-color: lightcoral;
    border-style: solid;
    border-width: 4px;
    width: 160px;
    height: 160px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
