<html lang="en">
    <head>
      <title>Add Car</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <div id="wrapper">
            <h1>Create a new Car</h1>
            <div>
                <form class="my-form" action='', method='post'>
                    <div>
                        <label class="label-item">Car Name:</label> 
                        <input class="input-item" type='text' name='name'>
                    </div>               
                    <div>
                        <label class="label-item">Car Model:</label>
                        <input class="input-item" type='text' name='model'>     
                    </div>
                    <div>
                        <label class="label-item">Car Manufactuer:</label> 
                        <input class="input-item" type='text' name='manufactuer'>
                    </div>
                    <input class="button-1" type='submit' value='Add Car'>
                </form>
                <br>
                <a href="/">Home Page</a>
            </div>
        </div>
    </body>
</html>