<html lang="en">
    <head>
      <title>Cars</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <div id="wrapper">
            <h1>Check Out These Cars!</h1>
            <div>
                <img class="image" src="images/car1.jpg" alt="car1.jpg">
                <img class="image" src="images/car2.jpg" alt="car2.jpg">
                <img class="image" src="images/car3.jpg" alt="car3.jpg">
                <img class="image" src="images/car4.jpg" alt="car4.jpg">
            </div>
            <div>
                <a href="/">Home Page</a>
            </div>
        </div>
    </body>
</html>