<html lang="en">
    <head>
      <title>Main Page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <div id="wrapper">
            <h1>Welcome to the Main Page</h1>
            <h3>We are still navigating by adding to the URL bar in the browser</h3>
            <div id="list">
                <ul class="mylist">
                    <li>Use <a href="/cars">'localhost:6789/cars'</a> to look at a few cars</li>
                    <li>Use <a href="/cars/new">'localhost:6789/cars/new'</a> to add a new car</li>
                    <li>Use <a href="/cats">'localhost:6789/cats'</a> to look at some funny cats</li>
                </ul>
            </div>
        </div>
    </body>
</html>