<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pictures</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>                                                                          <!-- javscript -->
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>
        <div id="wrapper">
            <h1>Check out these cool pictures</h1>
            <div>
                <a href="/">Home Page</a>
            </div>
            <div>
                <img class="image" src="images/01.jpg" alt="01.jpg">
                <img class="image" src="images/02.jpg" alt="02.jpg">
                <img class="image" src="images/03.jpg" alt="03.jpg">
                <img class="image" src="images/04.jpg" alt="04.jpg">
            </div>

        </div>
    </body>
</html>