<!DOCTYPE html>

<html>
    <head>
        <title>Delete Book</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <h4>Are you sure you want to delete this book?</h4>
            <form id="myForm" action='/verify', method='post'>
                <input type="hidden" name="book-id" value="{{ book[0]['id'] }}">
                <input class="button-1" type='submit' name="action" value='Cancel' class="button">
                <input class="button-1" type='submit' name="action" value='Delete' class="button">
            </form>
            <form action='/', method='get'>
                <input class="button-1" type='submit' value='Home' class="button">
            </form>
        </div>
    </body>
</html>