* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 1000px;
    margin: 0px auto;
}

h1,h2, h3 {
    margin: 10px;
}

.quote-text {
    margin: 10px;
}

.quote-name {
    margin: 10px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.underline {
    text-decoration: underline;
}

.form-box {
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 50%;
    border: 1px solid black;
    border-radius: 3px;
}

.my-form {
    display: inline-block;
}
    .label-item {
        display:inline-block;
        padding-top: 5px;
        text-align: right;
        width: 140px;
    }

    .input-item {
        margin-top: 5px;
        margin-bottom: 5px;
        display:inline-block; 
        vertical-align:middle;
        margin-left:20px
    }

.button-1 {
    display: inline-block;
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 10pt;
    border:1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}