* {
    font-family: sans-serif;
}

#wrapper {
    width: 1000px;
    margin: 0px auto;
    text-align: center;
}

#header {
    display:inline-block;
    width: 500px;
}

#button-box {
    display:inline-block;
    margin: 20px;
    width: 500px;
}
#login-box {
    display: none;
    padding: 10px 0px 5px 0px;
    border: 1px solid black;
    margin: 20px;
    width: 500px;
    border-radius: 5px;
    background-color: aliceblue;
}

#register-box {
    display: none;
    margin: 20px;
    border: 1px solid black;
    width: 500px;
    border-radius: 5px;
    background-color: aliceblue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.messages-error {
    margin: 20px;
    color: white;
    background-color: red;
    font-weight: 200;
}

.messages-success {
    margin: 20px;
    color: white;
    background-color: green;
    font-weight: 200;
}

.button-1 {
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    background-color:skyblue;
    font-size: 16pt;
}

#my-form {
    display: inline-block;

}
    .label-item {
        display:inline-block;
        padding-top: 5px;
        text-align: right;
        width: 140px;
    }

    .input-item {
        margin-top: 5px;
        margin-bottom: 5px;
        display:inline-block; 
        vertical-align:middle;
        margin-left:20px
    }