<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Amadon Shopping Cart</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'amadon/css/style.css' %}" media-"screen" title="no title" charset="utf-8">
        <link rel='shortcut icon' type='image/x-icon' href="{% static 'amadon/icon.ico' %}" />  
    </head>
    <body>
        <div id="wrapper">
            <h2>Shopping Cart</h2>
            <p>Thanks for your order!  We have charged ${{current_charges}} to your credit card</p>
            <p>You have purchased {{total_items}} items at a total cost of ${{total_charges}}</p>
            <form action='/', method='get'>
                <input class="button-1" type='submit' value='Return to Shopping' class="button">
            </form>
        </div>
    </body>
</html>