<!DOCTYPE html>
<html>
    <head>
        <title>Ninja Gold</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <!--<link rel="stylesheet" type="text/css" href="../static/style.css" -->
    </head>
    <body>
        <div id="wrapper">
            <h1>Ninja Money</h1>
            <h3>Visit locations to earn money.  Beware, you may lose big at the casino!</h3>

            <div id="chest">
                <p>Your Gold:</p>
                <p class="gold-box">{{ session['gold']}}</p>
            </div>
            <div id="locations">
                <div class="location-box">
                    <h3>Farm</h3>
                    <h5>(earn 10-20 gold pieces)</h5>
                    <form action='/process_money' method="POST">
                        <input type="hidden" name="location" value="farm">
                        <input type="submit" value="Visit Farm" class="submit-button">
                    </form>
                </div>

                <div class="location-box">
                    <h3>Cave</h3>
                    <h5>(earn 5-10 gold pieces)</h5>
                    <form action='/process_money' method="POST">
                        <input type="hidden" name="location" value="cave">
                        <input type="submit" value="Visit Cave" class="submit-button">
                    </form>
                </div>

                <div class="location-box">
                    <h3>House</h3>
                    <h5>(earn 2-5 gold pieces)</h5>
                    <form action='/process_money' method="POST">
                        <input type="hidden" name="location" value="house">
                        <input type="submit" value="Visit House" class="submit-button">
                    </form>
                </div>

                <div class="location-box">
                    <h3>Casino</h3>
                    <h5>(earn or lose 0-50 gold pieces)</h5>
                    <form action='/process_money' method="POST">
                        <input type="hidden" name="location" value="casino">
                        <input type="submit" value="Visit Casino" class="submit-button">
                    </form>
                </div>
            </div>
            <div id="activities">
                <h4>Activity Log:</h4>
                <div class="activity-box">
                    {% for i in range(0, session['activity']|length) %}
                        {% if session['sign'][i] == True %}
                            <p class="log-true">{{ session['activity'][i] }}</p>
                        {% endif %}

                        {% if session['sign'][i] == False %}
                            <p class="log-false">{{ session['activity'][i] }}</p>
                        {% endif %}
                    {% endfor%}
                </div>
                <form action='/reset' method="POST">
                    Click to start game over
                    <input type="submit" value="Reset" class="reset-button">
                </form>
            </div>
        </div>
    </body>
</html>