* {
    font-family: sans-serif;
}

#wrapper {
    width: 1000px;
    margin: 0px auto;
    text-align: center;
}

.user-table table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
    .user-table td, .user-table th{ 
        border: 1px solid #ddd;
        padding: 8px;
    }

    .user-table tr:nth-child(even){background-color: #f2f2f2;}

    .user-table tr:hover {background-color: #ddd;}

    .user-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: rgb(114, 167, 197);
        color: white;
    }

.button-1 {
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 5px;
    background-color:rgb(114, 167, 197);;
    color: white;
    font-size: 14pt;
}

#my-form {
    display: inline-block;

}
    .label-item {
        display:inline-block;
        padding-top: 5px;
        text-align: right;
        width: 140px;
    }

    .input-item {
        margin-top: 5px;
        margin-bottom: 5px;
        display:inline-block; 
        vertical-align:middle;
        margin-left:20px
    }

.messages-error {
    margin: 20px;
    color: white;
    background-color: red;
    font-weight: 200;
}

.messages-success {
    margin: 20px;
    color: white;
    background-color: green;
    font-weight: 200;
}

textarea {
    resize: none;
}