{{ name }}<br>
{{ user.firstName }}<br>
{{ user.lastName }}<br>
<input [value]='number'><br>
<input value='number'><br>
{{ user | json }}<br>
{{ user.firstName | uppercase }}<br>
{{ user.lastName | lowercase }}<br>
{{ amount | currency }}<br>
{{ amount | currency:'AUS' }}<br>
{{ amount | currency:'USD':true }}<br>
{{ today | date:'fullDate' }}<br>
{{ today | date:'longDate' }}<br> 
{{ today | date:'shortDate' }}<br>
{{ today | date:'mediumTime' }}<br>
{{ today | date:'shortTime' }}<br>
{{ today | date:'medium' }}<br>
{{ today | date:'short' }}<br>