* {
    /*outline: 1px solid magenta;*/
    font-family: sans-serif;
}

#wrapper {
    width: 1194px;
    margin: 0px auto;
    padding: 10px;
}
    #wrapper h1 {
        text-align: center;
    }

    #wrapper h3 {
        text-align: center;
    }

#colorTable {
    width: 1174px;
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(16, 64px);
    grid-gap: 10px;
}

.colorBlock {
    width: 64px;
    height: 64px;
    position: relative;
    color: rgb(224,224,224);
    display: inline-block;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
}

.colorBlock .toolTipText {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: -55%;
    left: 50%;
    margin-left: -50%;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.5s;
}

.colorBlock:hover .toolTipText {
    visibility: visible;
    opacity: 1;
}