<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Colors</title>
        <meta charset="UTF-8">
        <meta name="description" content="A page dealing with standard HTML
        colors and color schemes.">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="wrapper">
            <h1>HTML colors</h1>
            <h3>The Supported Colors in HTML</h3>
            <div id="colorTable">
                <div class="colorBlock" style="background-color: AliceBlue"><span class="toolTipText">Alice Blue</span></div>
                <div class="colorBlock" style="background-color: AntiqueWhite"><span class="toolTipText">Antinque White</span></div>
                <div class="colorBlock" style="background-color: Aqua"><span class="toolTipText">Aqua</span></div>
                <div class="colorBlock" style="background-color: Aquamarine"><span class="toolTipText">Aquamarine</span></div>
                <div class="colorBlock" style="background-color: Azure"><span class="toolTipText">Azure</span></div>
                <div class="colorBlock" style="background-color: Beige"><span class="toolTipText">Beige</span></div>
                <div class="colorBlock" style="background-color: Bisque"><span class="toolTipText">Bisque</span></div>
                <div class="colorBlock" style="background-color: Black"><span class="toolTipText">Black</span></div>
                <div class="colorBlock" style="background-color: BlanchedAlmond"><span class="toolTipText">Blanched Almond</span></div>
                <div class="colorBlock" style="background-color: Blue"><span class="toolTipText">Blue</span></div>
                <div class="colorBlock" style="background-color: BlueViolet"><span class="toolTipText">Blue Violet</span></div>
                <div class="colorBlock" style="background-color: Brown"><span class="toolTipText">Brown</span></div>
                <div class="colorBlock" style="background-color: BurlyWood"><span class="toolTipText">Burly Wood</span></div>
                <div class="colorBlock" style="background-color: CadetBlue"><span class="toolTipText">Cadet Blue</span></div>
                <div class="colorBlock" style="background-color: Chartreuse"><span class="toolTipText">Chartereuse</span></div>
                <div class="colorBlock" style="background-color: Chocolate"><span class="toolTipText">Chocolate</span></div>

                <div class="colorBlock" style="background-color: Coral"><span class="toolTipText">Coral</span></div>
                <div class="colorBlock" style="background-color: CornflowerBlue"><span class="toolTipText">Cornflower Blue</span></div>
                <div class="colorBlock" style="background-color: Cornsilk"><span class="toolTipText">Cornsilk</span></div>
                <div class="colorBlock" style="background-color: Crimson"><span class="toolTipText">Crimson</span></div>
                <div class="colorBlock" style="background-color: Cyan"><span class="toolTipText">Cyan</span></div>
                <div class="colorBlock" style="background-color: Darkblue"><span class="toolTipText">Dark Blue</span></div>
                <div class="colorBlock" style="background-color: DarkCyan"><span class="toolTipText">Dark Cyan</span></div>
                <div class="colorBlock" style="background-color: DarkGoldenRod"><span class="toolTipText">Dark Golden Rod</span></div>
                <div class="colorBlock" style="background-color: DarkGray"><span class="toolTipText">Dark Gray</span></div>
                <div class="colorBlock" style="background-color: DarkGrey"><span class="toolTipText">Dark Grey</span></div>
                <div class="colorBlock" style="background-color: DarkGreen"><span class="toolTipText">Dark Green</span></div>
                <div class="colorBlock" style="background-color: DarkKhaki"><span class="toolTipText">Dark Khaki</span></div>
                <div class="colorBlock" style="background-color: DarkMagenta"><span class="toolTipText">Dark Magenta</span></div>
                <div class="colorBlock" style="background-color: DarkOliveGreen"><span class="toolTipText">Dark Olive Green</span></div>
                <div class="colorBlock" style="background-color: DarkOrange"><span class="toolTipText">Dark Orange</span></div>
                <div class="colorBlock" style="background-color: DarkOrchid"><span class="toolTipText">Dark Orchid</span></div>

                <div class="colorBlock" style="background-color: DarkRed"><span class="toolTipText">Dark Red</span></div>
                <div class="colorBlock" style="background-color: DarkSalmon"><span class="toolTipText">Dark Salmon</span></div>
                <div class="colorBlock" style="background-color: DarkSeaGreen"><span class="toolTipText">Dark Sea Green</span></div>
                <div class="colorBlock" style="background-color: DarkSlateBlue"><span class="toolTipText">Dark Slate Blue</span></div>
                <div class="colorBlock" style="background-color: DarkSlateGray"><span class="toolTipText">Dark Slate Gray</span></div>
                <div class="colorBlock" style="background-color: DarkSlateGrey"><span class="toolTipText">Dark Slate Grey</span></div>
                <div class="colorBlock" style="background-color: DarkTurquoise"><span class="toolTipText">Dark Turquoise</span></div>
                <div class="colorBlock" style="background-color: DarkViolet"><span class="toolTipText">Dark Violet</span></div>
                <div class="colorBlock" style="background-color: DeepPink"><span class="toolTipText">Deep Pink</span></div>
                <div class="colorBlock" style="background-color: DeepSkyBlue"><span class="toolTipText">Deep Sky Blue</span></div>
                <div class="colorBlock" style="background-color: DimGrey"><span class="toolTipText">Dim Grey</span></div>
                <div class="colorBlock" style="background-color: DimGray"><span class="toolTipText">Dim Gray</span></div>
                <div class="colorBlock" style="background-color: DodgerBlue"><span class="toolTipText">Dodger Blue</span></div>
                <div class="colorBlock" style="background-color: FireBrick"><span class="toolTipText">Fire Brick</span></div>
                <div class="colorBlock" style="background-color: FloralWhite"><span class="toolTipText">Floral White</span></div>
                <div class="colorBlock" style="background-color: ForestGreen"><span class="toolTipText">Forest Green</span></div>

                <div class="colorBlock" style="background-color: Fuchsia"><span class="toolTipText">Fuchsia</span></div>
                <div class="colorBlock" style="background-color: Gainsboro"><span class="toolTipText">Gainsboro</span></div>
                <div class="colorBlock" style="background-color: GhostWhite"><span class="toolTipText">Ghost White</span></div>
                <div class="colorBlock" style="background-color: Gold"><span class="toolTipText">Gold</span></div>
                <div class="colorBlock" style="background-color: GoldenRod"><span class="toolTipText">Golden Rod</span></div>
                <div class="colorBlock" style="background-color: Gray"><span class="toolTipText">Gray</span></div>
                <div class="colorBlock" style="background-color: Grey"><span class="toolTipText">Grey</span></div>
                <div class="colorBlock" style="background-color: Green"><span class="toolTipText">Green</span></div>
                <div class="colorBlock" style="background-color: GreenYellow"><span class="toolTipText">Green Yellow</span></div>
                <div class="colorBlock" style="background-color: HoneyDew"><span class="toolTipText">Honey Dew</span></div>
                <div class="colorBlock" style="background-color: HotPink"><span class="toolTipText">Hot Pink</span></div>
                <div class="colorBlock" style="background-color: IndianRed"><span class="toolTipText">Indian Red</span></div>
                <div class="colorBlock" style="background-color: Indigo"><span class="toolTipText">Indigo</span></div>
                <div class="colorBlock" style="background-color: Ivory"><span class="toolTipText">Ivory</span></div>
                <div class="colorBlock" style="background-color: Khaki"><span class="toolTipText">Khaki</span></div>
                <div class="colorBlock" style="background-color: Lavender"><span class="toolTipText">Lavender</span></div>

                <div class="colorBlock" style="background-color: LawnGreen"><span class="toolTipText">Lawn Green</span></div>
                <div class="colorBlock" style="background-color: LemonChiffon"><span class="toolTipText">Lemon Chiffon</span></div>
                <div class="colorBlock" style="background-color: LightBlue"><span class="toolTipText">Light Blue</span></div>
                <div class="colorBlock" style="background-color: LightCoral"><span class="toolTipText">Light Coral</span></div>
                <div class="colorBlock" style="background-color: LightCyan"><span class="toolTipText">Light Cyan</span></div>
                <div class="colorBlock" style="background-color: LightGoldenRodYellow"><span class="toolTipText">Light Golden Rod Yellow</span></div>
                <div class="colorBlock" style="background-color: LightGray"><span class="toolTipText">Light Gray</span></div>
                <div class="colorBlock" style="background-color: LightGrey"><span class="toolTipText">Light Grey</span></div>
                <div class="colorBlock" style="background-color: LightGreen"><span class="toolTipText">Light Green</span></div>
                <div class="colorBlock" style="background-color: LightPink"><span class="toolTipText">Light Pink</span></div>
                <div class="colorBlock" style="background-color: LightSalmon"><span class="toolTipText">Light Salmon</span></div>
                <div class="colorBlock" style="background-color: LightSeaGreen"><span class="toolTipText">Light Sea Green</span></div>
                <div class="colorBlock" style="background-color: LightSkyBlue"><span class="toolTipText">Light Sky Blue</span></div>
                <div class="colorBlock" style="background-color: LightSlateGray"><span class="toolTipText">Light Slate Gray</span></div>
                <div class="colorBlock" style="background-color: LightSlateGrey"><span class="toolTipText">Light Slate Grey</span></div>
                <div class="colorBlock" style="background-color: LightSteelBlue"><span class="toolTipText">Light Steel Blue</span></div>

                <div class="colorBlock" style="background-color: LightYellow"><span class="toolTipText">Light Yellow</span></div>
                <div class="colorBlock" style="background-color: Lime"><span class="toolTipText">Lime</span></div>
                <div class="colorBlock" style="background-color: LimeGreen"><span class="toolTipText">Lime Green</span></div>
                <div class="colorBlock" style="background-color: Linen"><span class="toolTipText">Linen</span></div>
                <div class="colorBlock" style="background-color: Magenta"><span class="toolTipText">Magenta</span></div>
                <div class="colorBlock" style="background-color: Maroon"><span class="toolTipText">Maroon</span></div>
                <div class="colorBlock" style="background-color: MediumAquaMarine"><span class="toolTipText">Medium Aqua Marine</span></div>
                <div class="colorBlock" style="background-color: MediumBlue"><span class="toolTipText">Medium Blue</span></div>
                <div class="colorBlock" style="background-color: MediumOrchid"><span class="toolTipText">Medium Orchid</span></div>
                <div class="colorBlock" style="background-color: MediumPurple"><span class="toolTipText">Medium Purple</span></div>
                <div class="colorBlock" style="background-color: MediumSeaGreen"><span class="toolTipText">Medium Sea Green</span></div>
                <div class="colorBlock" style="background-color: MediumSlateBlue"><span class="toolTipText">Medium Slate Blue</span></div>
                <div class="colorBlock" style="background-color: MediumSpringGreen"><span class="toolTipText">Medium Spring Green</span></div>
                <div class="colorBlock" style="background-color: MediumTurquoise"><span class="toolTipText">Medium Turqouise</span></div>
                <div class="colorBlock" style="background-color: MediumVioletRed"><span class="toolTipText">Medium Violet Red</span></div>
                <div class="colorBlock" style="background-color: MidnightBlue"><span class="toolTipText">Midnight Blue</span></div>

                <div class="colorBlock" style="background-color: MintCream"><span class="toolTipText">Mint Cream</span></div>
                <div class="colorBlock" style="background-color: MistyRose"><span class="toolTipText">Misty Rose</span></div>
                <div class="colorBlock" style="background-color: Moccasin"><span class="toolTipText">Moccasin</span></div>
                <div class="colorBlock" style="background-color: NavajoWhite"><span class="toolTipText">Navajo White</span></div>
                <div class="colorBlock" style="background-color: Navy"><span class="toolTipText">Navy</span></div>
                <div class="colorBlock" style="background-color: OldLace"><span class="toolTipText">Old Lace</span></div>
                <div class="colorBlock" style="background-color: Olive"><span class="toolTipText">Olive</span></div>
                <div class="colorBlock" style="background-color: OliveDrab"><span class="toolTipText">Olive Drab</span></div>
                <div class="colorBlock" style="background-color: Orange"><span class="toolTipText">Orange</span></div>
                <div class="colorBlock" style="background-color: OrangeRed"><span class="toolTipText">Orange Red</span></div>
                <div class="colorBlock" style="background-color: Orchid"><span class="toolTipText">Orchid</span></div>
                <div class="colorBlock" style="background-color: PaleGoldenRod"><span class="toolTipText">Pale Golden Rod</span></div>
                <div class="colorBlock" style="background-color: PaleGreen"><span class="toolTipText">Pale Green</span></div>
                <div class="colorBlock" style="background-color: PaleTurquoise"><span class="toolTipText">Pale Turquoise</span></div>
                <div class="colorBlock" style="background-color: PaleVioletRed"><span class="toolTipText">Pale Violet Red</span></div>
                <div class="colorBlock" style="background-color: PapayaWhip"><span class="toolTipText">Papaya Whip</span></div>

                <div class="colorBlock" style="background-color: PeachPuff"><span class="toolTipText">Peach Puff</span></div>
                <div class="colorBlock" style="background-color: Peru"><span class="toolTipText">Peru</span></div>
                <div class="colorBlock" style="background-color: Pink"><span class="toolTipText">Pink</span></div>
                <div class="colorBlock" style="background-color: Plum"><span class="toolTipText">Plum</span></div>
                <div class="colorBlock" style="background-color: PowderBlue"><span class="toolTipText">Powder Blue</span></div>
                <div class="colorBlock" style="background-color: Purple"><span class="toolTipText">Purple</span></div>
                <div class="colorBlock" style="background-color: RebeccaPurple"><span class="toolTipText">Rebecca Purple</span></div>
                <div class="colorBlock" style="background-color: Red"><span class="toolTipText">Red</span></div>
                <div class="colorBlock" style="background-color: RosyBrown"><span class="toolTipText">Rosy Brown</span></div>
                <div class="colorBlock" style="background-color: Royalblue"><span class="toolTipText">Royal Blue</span></div>
                <div class="colorBlock" style="background-color: SaddleBrown"><span class="toolTipText">Saddle Brown</span></div>
                <div class="colorBlock" style="background-color: Salmon"><span class="toolTipText">Salmon</span></div>
                <div class="colorBlock" style="background-color: SandyBrown"><span class="toolTipText">Sandy Brown</span></div>
                <div class="colorBlock" style="background-color: SeaGreen"><span class="toolTipText">Sea Green</span></div>
                <div class="colorBlock" style="background-color: SeaShell"><span class="toolTipText">Sea Shell</span></div>
                <div class="colorBlock" style="background-color: Sienna"><span class="toolTipText">Sienna</span></div>

                <div class="colorBlock" style="background-color: Silver"><span class="toolTipText">Silver</span></div>
                <div class="colorBlock" style="background-color: SkyBlue"><span class="toolTipText">Sky Blue</span></div>
                <div class="colorBlock" style="background-color: SlateBlue"><span class="toolTipText">Slate Blue</span></div>
                <div class="colorBlock" style="background-color: SlateGray"><span class="toolTipText">Slate Gray</span></div>
                <div class="colorBlock" style="background-color: slateGrey"><span class="toolTipText">Slate Grey</span></div>
                <div class="colorBlock" style="background-color: Snow"><span class="toolTipText">Sbow</span></div>
                <div class="colorBlock" style="background-color: SpringGreen"><span class="toolTipText">Spring Green</span></div>
                <div class="colorBlock" style="background-color: SteelBlue"><span class="toolTipText">Steel Blue</span></div>
                <div class="colorBlock" style="background-color: Tan"><span class="toolTipText">Tan</span></div>
                <div class="colorBlock" style="background-color: Teal"><span class="toolTipText">Teal</span></div>
                <div class="colorBlock" style="background-color: Thistle"><span class="toolTipText">Thistle</span></div>
                <div class="colorBlock" style="background-color: Tomato"><span class="toolTipText">Tomato</span></div>
                <div class="colorBlock" style="background-color: Turquoise"><span class="toolTipText">Turquoise</span></div>
                <div class="colorBlock" style="background-color: Violet"><span class="toolTipText">Violet</span></div>
                <div class="colorBlock" style="background-color: Wheat"><span class="toolTipText">Wheat</span></div>
                <div class="colorBlock" style="background-color: White"><span class="toolTipText">White</span></div>
                
                <div class="colorBlock" style="background-color: WhiteSmoke"><span class="toolTipText">White Smoke</span></div>
                <div class="colorBlock" style="background-color: Yellow"><span class="toolTipText">Yellow</span></div>
                <div class="colorBlock" style="background-color: YellowGreen"><span class="toolTipText">Yellow Green</span></div>

            </div>
        </div>    
    </body>
</html>