<!DOCTYPE html>

<html lang="en">
    <head>
        <title>About Me</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="wrapper">
            <h1>About Me</h1>
            <p>
                I am a 3D graphics programmer.  I love creating interesting math visulizations and procedural generated images.  I  have
                been exploring polgonizing voxel data structures and other types of mesh generation.  C# is my favorite language but I can
                write in C++, and Python.
            </p>
        </div>
    </body>
</html>