<!DOCTYPE html>

<html lang="en">
    <head>
        <title>My Projects</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="wrapper">
            <h1>My Projects</h1>
            <ul>
                <li>Coding Dojo</li>
                <li>Voxel Model Editor</li>
                <li>3D Raytracer</li>
                <li>Cellular Automata</li>
                <li>Langton Ant</li>
                <li>Procedurally Generated Maps</li>
            </ul>
        </div>
    </body>
</html>