<html>
    <head>
        <title>Advanced Validation Example</title>
    </head>
    <body>
        <h1>Enter a Valid(Any) Email!</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action='/process' method='POST'>
            Email:<input type="text" name="email">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>