<!DOCTYPE html>
<html>
    <head>
        <title>Ninja Gold</title>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'ninja_gold/css/style.css' %}" media-"screen" title="no title" charset="utf-8">
        <link rel='shortcut icon' type='image/x-icon' href="{% static 'ninja_gold/icon.ico' %}" />  
    </head>
    <body>
        <div id="wrapper">
            <h1>Ninja Money</h1>
            <h3>Visit locations to earn money.  Beware, you may lose big at the casino!</h3>

            <div id="chest">
                <p>Your Gold:</p>
                <p class="gold-box">{{ gold }}</p>
            </div>
            <div id="locations">
                <div class="location-box">
                    <h3>Farm</h3>
                    <h5>(earn 10-20 gold pieces)</h5>
                    <form action='/process/farm' method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Visit Farm" class="submit-button">
                    </form>
                </div>

                <div class="location-box">
                    <h3>Cave</h3>
                    <h5>(earn 5-10 gold pieces)</h5>
                    <form action='/process/cave' method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Visit Cave" class="submit-button">
                    </form>
                </div>

                <div class="location-box">
                    <h3>House</h3>
                    <h5>(earn 2-5 gold pieces)</h5>
                    <form action='/process/house' method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Visit House" class="submit-button">
                    </form>
                </div>

                <div class="location-box">
                    <h3>Casino</h3>
                    <h5>(earn or lose 0-50 gold pieces)</h5>
                    <form action='/process/casino' method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Visit Casino" class="submit-button">
                    </form>
                </div>
            </div>
            <div id="activities">
                <h4>Activity Log:</h4>
                <div class="activity-box">
                    {% for i in activity %}
                        {% if i.1 == True %}
                            <p class="log-true">{{ i.0 }}</p>
                        {% endif %}
                        {% if i.1 == False %}
                            <p class="log-false">{{ i.0 }}</p>
                        {% endif %}
                    {% endfor%}
                </div>
                <form action='/reset' method="POST">
                    {% csrf_token %}
                    Click to start game over
                    <input type="submit" value="Reset" class="reset-button">
                </form>
            </div>
        </div>
    </body>
</html>