/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 900px;
 background-color: silver;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
 margin: 0px auto;
}
#header{
 height: 150px;
 background-color: green;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin-right: 6px;
 margin-bottom: 40px;
}
#main_content{
 height: 330px;
 width: 670px;
 background-color: red;
 display: inline-block;
 margin-top: 10px;
 padding: 10px;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin-right: 10px;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 display: inline-block;
 margin-top: 5px;
}
